<template>

<div class="container-fluid">
    <div class="highlights-web">
        <div class="grid-video">
            <div v-for="row in this.getRowCount" :key="row">
                <div class="row py-3 mx-0">
                    <div v-for="(video, index) in getVideos(row)" :key='index' :class="((hasMarco && video.id == $root.currentVideoId) ? 'col-3-lg p-0' : 'col-3-sm')">
                        <div :class="{'marco': hasMarco && video.id == $root.currentVideoId, 'flecha-abajo': hasMarco && video.id == $root.currentVideoId}">
                            <div class="row" :class="{ 'p-0 m-0': hasMarco && video.id == $root.currentVideoId, 'px-1': video.id != $root.currentVideoId }">
                                <div class="video-miniatura">
                                    <img class="img-fluid mx-auto" :src="`storage/${video.imagen}`" :alt=" `slide ${index}`" />
                                    <div class="video-miniatura-overlay d-flex">
                                        <div class="video-miniatura-play d-flex">
                                            <button @click="showVideo(video.id, row)" class="d-flex align-self-center video-miniatura-play-button mx-auto">
                                                <img src="img/play_button.png" class="img-fluid"/></button>
                                        </div>
                                        <div class="video-miniatura-share d-flex align-items-end justify-content-end">
                                            <button class="btn d-flex video-miniatura-share-button mr-2 mb-1" type="button"
                                                @click="showButtons(`share${category.order}${row}${index}`)"><i class="fas fa-share-alt"></i>
                                            </button>
                                        </div>
                                        <div class="video-share-button-4" :id="`share${category.order}${row}${index}`">
                                            <div class="row">
                                                <a target="_blank" class="text-white" :href="`http://www.facebook.com/sharer.php?u=${domain}/videos/${video.id}//&t=Mira%20&quot;${video.titulo}&quot;%20en%20${title}`">
                                                    <button class="btn text-white video-share-facebook" type="button">
                                                        <i class="fab fa-facebook-f"></i>
                                                    </button>
                                                </a>
                                            </div>
                                            <div class="row">
                                                <a target="_blank" class="text-white" :href="`https://twitter.com/intent/tweet?text=Mira+&quot;${video.titulo}&quot;+en+${title}:&url=http://${domain}/videos/${video.id}`">
                                                    <button class="btn text-white video-share-twitter" type="button">
                                                        <i class="fab fa-twitter"></i>
                                                    </button>
                                                </a>
                                            </div>
                                            <div class="row">
                                                <a target="_blank" class="text-white" :href="`https://api.whatsapp.com/send?text=Mira%20&quot;${video.titulo}&quot;%20en%20${title}:%20http://${domain}/videos/${video.id}`">
                                                    <button class="btn text-white video-share-whatsapp" type="button">
                                                        <i class="fab fa-whatsapp"></i>
                                                    </button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>                        
                            </div>
                            <div class="row pt-2" v-show="video.id != $root.currentVideoId">
                                <div class="col-3 px-1">
                                    <div class="video-date">
                                        <div class="video-month text-center px-0">
                                            <span class="video-month">{{video.month.toUpperCase()}}</span>
                                        </div>
                                        <div class="video-day text-center">
                                            <span class="video-day"><strong>{{ video.day }}</strong></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-9 px-1">
                                    <p class="video-title">{{ video.titulo }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <transition name="slide-fade">
                    <div class="cabecera row mx-0" v-show="$root.currentVideoId == videoId && actualRow == row">
                        <div class="overlay-compartir" :id="`overlayVideoCompartir${videoId}`"></div>
                        <div class="overlay-compartir-close" :id="`overlayVideoCompartirCerrar${videoId}`">
                            <button type="button" @click="showCompartir('none', videoId)" class="btn text-white" aria-label="Close">
                                <span aria-hidden="true"><i class="far fa-window-close fa-2x"></i></span>
                            </button>
                        </div>
                        <div class="row overlay-compartir-botones" :id="`overlayVideoCompartirBotones${videoId}`">
                            <a class="text-white" :href="`http://www.facebook.com/sharer.php?u=${domain}/videos/${videoId}//&t=Mira%20&quot;${videoTitulo}&quot;%20en%20${title}`">
                                <button class="btn text-white" type="button">
                                    <i class="fab fa-facebook-f"></i>
                                </button>          
                            </a>    
                            <a class="text-white" :href="`https://twitter.com/intent/tweet?text=Mira+&quot;${videoTitulo}&quot;+en+${title}:&url=http://${domain}/videos/${videoId}`">
                                <button class="btn text-white" type="button">
                                    <i class="fab fa-twitter"></i>
                                </button>
                            </a>
                            <a class="text-white" :href="`https://api.whatsapp.com/send?text=Mira%20&quot;${videoTitulo}&quot;%20en%20${title}:%20http://${domain}/videos/${videoId}`">
                                <button class="btn text-white" type="button">
                                    <i class="fab fa-whatsapp"></i>
                                </button>
                            </a>
                        </div>
                        <div class="col-md-9 p-0">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe :id="`reproductor${row}`" :src="`${videoEnlace[row]}`"
                                    class="iframe-video" frameborder="0" allow="autoplay; fullscreen" allowfullscreen autoplay=1>
                                </iframe>
                            </div>
                        </div>

                        <div class="video-overlay p-4 p-md-2 col-md-3">
                            <div class="overlay-body">
                                <div class="row mt-2 mx-md-2 my-md-4 p-y-md-1 p-x-md-3">
                                    <div class="col-3 px-0">
                                        <div class="video-date">
                                            <div class="video-month text-center px-0">
                                                <span class="video-month">{{ videoMes.toUpperCase() }}</span>
                                            </div>
                                            <div class="video-day text-center">
                                                <span class="video-day"><strong>{{ videoDia }}</strong></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-8 px-1">
                                    <p class="video-title font-weight-bold text-white m-0">{{ videoTitulo}}</p>
                                    </div>
                                    <div class="col-1 p-0">
                                    <button type="button" @click="videoId = -1, videoEnlace[row]='about:blank', $root.currentVideoId = 0" class="buttonClose" aria-label="Close">
                                        <span aria-hidden="true"><i class="far fa-window-close"></i></span>
                                    </button>
                                    </div>                            
                                </div>                        
                                
                                <div class="video-ponentes mx-0" v-if="selectedVideo">
                                    <div>
                                        <div v-for="coordinador in selectedVideo.videos_coordinadores" :key="coordinador.id" class="row my-2 mx-3 mx-md-0 text-white d-flex align-items-center">
                                            <div class="col-4 px-1">
                                                <img class="video-overlay-img video-overlay-img-coordinador img-fluid rounded-circle" :src="`/storage/${coordinador.participante.imagen}`" :alt="coordinador.participante.nombre"/>                                            </div>
                                            <div class="col-8 px-1 video-ponente-nombre text-left">
                                                <p class="mb-md-0">
                                                    <span class="font-weight-bold">
                                                        {{ coordinador.participante.nombre_completo }}
                                                    </span>

                                                    <span v-html="coordinador.participante.filiacion"></span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div>
                                        <div v-for="ponente in selectedVideo.videos_ponentes" :key="ponente.id" class="row my-2 mx-3 mx-md-0 text-white d-flex align-items-center">
                                            <div class="col-4 px-1">
                                                <img class="video-overlay-img video-overlay-img-ponente img-fluid rounded-circle" :src="`/storage/${ponente.participante.imagen}`" :alt="ponente.participante.nombre"/>                                            </div>
                                            <div class="col-8 px-1 video-ponente-nombre text-left">
                                                <p class="mb-md-0">
                                                    <span class="font-weight-bold">
                                                        {{ ponente.participante.nombre_completo }}
                                                    </span>

                                                    <span v-html="ponente.participante.filiacion"></span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div v-if="videoBotonCompartir === 1">
                                  <div class="d-flex justify-content-center mt-3">
                                    <button class="btn share-boton" @click="showCompartir('block', videoId)">
                                        <div class="d-flex row m-0 align-items-center">
                                            <div class="col-2 pl-0"><i class="fas fa-share-alt fa-2x"></i></div>
                                            <div class="col-8 pr-0">Compartir</div>
                                        </div>
                                    </button>
                                  </div>
                              </div>    
                            </div>
                        </div>    
                    </div>
                </transition>                  
            </div>
        </div>
    </div>

    <div class="highlights-mobile">
        <div class="row py-3 mx-0 slider-mobile">
            <div class="col" v-for="(video, index) in orderedVideos" :key='index'>
                <div class="row px-1">
                    <div class="video-miniatura">
                        <img class="img-fluid mx-auto" :src="`storage/${video.imagen}`" :alt=" `slide ${index}`"/>
                        <div class="video-miniatura-overlay d-flex">
                            <div class="video-miniatura-play d-flex">
                                <a :href="`/videos/${video.id}`">
                                    <button class="d-flex align-self-center video-miniatura-play-button mx-auto">
                                        <img src="img/play_button.png" class="img-fluid" />
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row pt-2">
                    <div class="col-3 px-1">
                        <div class="video-date">
                            <div class="video-month text-center px-0">
                                <span class="video-month">{{ video.month.toUpperCase() }}</span>
                            </div>
                            <div class="video-day text-center">
                                <span class="video-day"><strong>{{ video.day }}</strong></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-9 px-1">
                        <p class="video-title">{{ video.titulo }}</p>
                    </div>
                </div>
            </div>
        </div>  
    </div>
</div>

</template>

<script>
    export default{
        props: ['categoria'],

        data(){
            return{
                category: JSON.parse(this.categoria),
                videoTitulo: '',
                videoMes: '',
                videoDia: 0,
                videoEnlace: [],
                videoId: -1,
                videoBotonCompartir: '',
                hasMarco: false,
                displayValue: 'none',
                shareButtons: document.getElementsByClassName('video-share-button-4'),
                domain: window.location.hostname,
                title: document.title,
                videosPerRow: 4,
                actualRow: -1,
                previousRow: -1,
            }
        },

        created() {
                for (let index = 0; index <= this.getRowCount; index++){
                    this.videoEnlace[index] = 'about:blank';
                }
        },

        computed: {
            selectedVideo() {
                const video = this.category.videos.find(video => video.id == this.$root.currentVideoId)
                if (!video) return null
                
                return video
            },
            getRowCount() {
                return Math.ceil(this.category.videos.length / this.videosPerRow);
            },
            orderedVideos() {
                return _.orderBy(this.category.videos, 'fecha', 'desc');
            }
        },
        methods: {
            getVideos(row) {
                return this.orderedVideos.filter((video, index) => index >= this.videosPerRow * (row - 1) && index < this.videosPerRow * (row))
            },

            showVideo(id, row){                
              this.actualRow = row;
              this.videoId = id; 
              if(this.$root.currentVideoId == this.videoId){
                  this.$root.currentVideoId = 0;
                  this.videoId = -2;
                  this.hasMarco = false;
                  setTimeout(() => {
                      this.videoEnlace[this.previousRow] = 'about:blank';
                  }, 500);
              }else{
                  this.$root.currentVideoId = this.videoId;
                  this.category.videos.forEach(video => {
                      if(video.id == id){
                          this.videoTitulo = video.titulo;
                          this.videoMes = video.month;
                          this.videoDia = video.day;
                          this.videoBotonCompartir = video.boton_compartir;
                          this.videoEnlace[row] = video.enlace+'?autoplay=1&loop=0&autopause=0';
                          this.hasMarco = true;
                      }
                  });
              }
            setTimeout(() => {
                    this.videoEnlace[this.previousRow] = "about:blank";
                }, 500);
            this.previousRow = this.actualRow;
        },

        showButtons(id){
            var elem = document.getElementById(id);
            this.displayValue = elem.style.display;
            if(this.displayValue == 'block'){
                this.displayValue = 'none';
            }else{
                this.displayValue = 'block';
            }
            Array.prototype.forEach.call(this.shareButtons, element => {
                element.style.display = 'none'; 
                element.style.opacity = 0;                             
                });

            elem.style.display = this.displayValue;
            var pos = 50;
            var opa = 0
            var id = setInterval(() => {
                if (pos == 0) {
                clearInterval(id);
            } else {
                pos--;
                opa += 0.05
                elem.style.top = pos + 'px';
                elem.style.opacity = opa;
            }
            }, 10);            
        },

        showCompartir(displayType, id){
            document.getElementById('overlayVideoCompartir'+id).style.display = displayType;
            document.getElementById('overlayVideoCompartirCerrar'+id).style.display = displayType;
            if(displayType == 'block'){
                document.getElementById('overlayVideoCompartirBotones'+id).style.display = 'flex';
            }else{
                document.getElementById('overlayVideoCompartirBotones'+id).style.display = displayType;
            }
        },
    }
}
</script>